@site-width: 800px;
@background: #DDD;
@second-background: #aaa;
@body-background: #EEE;
@firm: blue;
@inverse: #333;

@rapper-background: #007F91;
@position-background: #00535E;

@vote-background-left: #ba8c8d;
@vote-background-right: #8d93b4;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reloading {
  opacity: 0;
}

.hidden {
  opacity: 0;
}

@media all and (min-width: 1000px) {
  .container {
    max-width: 90%;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .container {
    max-width: 90%;
  }
}

@media all and (max-width: 700px) {
  .container {
    max-width: 100%;
  }
}

body {
  font-family: 'montserrat', sans-serif;
  font-size: 15pt;
  color: @inverse;
  margin: 0;
  background: url('boxingarena_bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

div {
  overflow: hidden;
  margin: 0;
  padding: 0;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

h1 {
  color: @background;
}


.container {
  margin: 0 auto;
  padding: 0;
  left: 50%;
  width: 1000px;
  text-align: center;
}

div.voteBox {

  > .rapperBox {
    background: @background;
    margin: 1%;
    padding: 5%;
    width: 47%;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 400px;
      margin: 0;
      padding: 0;
    }

    > .rapperName {
      font-size: 180%;
      margin: 10% 0 0 0;
    }
  }

  > :first-child {
    float: left;

    &.no-touch:hover {
      background: @vote-background-left;
    }

    &:active {
      background: @vote-background-left;
    }

  }

  > :last-child {
    float: right;
    &.no-touch:hover {
      background: @vote-background-right;
    }
    &:active {
      background: @vote-background-right;
    }
  }
}

div.rapperLists {
  margin: 5% 1%;

  > div {
    margin-right: 2%;
    width: 32%;
    float: left;
    line-height: 200%;

    & .header {
      font-weight: bold;
      background: @second-background;
    }
  }

  > :last-child {
    margin-right: 0;
  }
}

.floatRight {
  float:right;
}

div.listItem {
  margin-top: 2%;
  background: @background;

}

a {
  color: black;
  text-decoration: none;
}
